<html>
  <head>
    <title>tỏadūa</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An online collaborative dictionary for the Toaq language.">
  </head>
  <body>
    <div id="main" v-show="true" style="display: none;">
      <nav id="menu">
        <div>
          <input type="text" id="search" :placeholder="search_pholder" v-model="query" @input.lazy="search" autocomplete="off" autofocus><!--
          --><input type="button" id="cancel" value="×" v-if="query" @click="navigate('')">
        </div>
      </nav>
      <div id="spacer"></div>
      <div id="results">
        <div class="card" v-for="result in results">
          <div class="title">
            <h2>
              <a :href="'#' + result.head" class="name" @click="navigate(result.head)">{{result.head}}</a>
              <span class="info">
                <a :href="'#@' + result.by" :style="color_for(result.by)" @click="navigate('@' + result.by)">{{result.by}}</a>
                <a :href="'##' + result.id" @click="navigate('#' + result.id)">#{{result.id}}</a>
                <span :style="score_color(result.score)">{{score_number(result.score)}}</span>
              </span>
            </h2>
          </div>
          <p class="body" v-html="result.fancy_body"></p>
          <div class="comments">
            <p class="comment" v-for="cmt in result.comments">
              <span :style="color_for(cmt.by)" class="commenter" @click="navigate('@' + cmt.by)">{{cmt.by}}</span><span v-html="cmt.fancy_content"></span>
            </p>
            <p class="comment new_cmt" v-if="result.uncollapsed">
              <span :style="color_for(username)" class="commenter">{{username}}</span><input type="text" v-model="result.input" placeholder="your comment?…">
            </p>
          </div>
          <ul class="controls" v-if="username">
            <li v-if="! result.uncollapsed">
              <input type="button" value="comment" @click="uncollapse(result)">
            </li><!--
            --><li v-if="result.uncollapsed">
              <input type="button" value="submit"  @click="comment(result)">
            </li><!--
            --><li v-if="result.vote != +1">
              <input type="button" value="+"       @click="vote(result, +1)">
            </li><!--
            --><li v-if="result.vote !=  0">
              <input type="button" value="±"       @click="vote(result,  0)">
            </li><!--
            --><li v-if="result.vote != -1">
              <input type="button" value="−"       @click="vote(result, -1)">
            </li><!--
            --><li v-if="username == result.by && !result.hesitating">
              <input type="button" value="remove"  @click="result.hesitating = true">
            </li><!--
            --><li v-if="result.hesitating">
              <input type="button" value="sure?"   @click="remove(result)">
            </li><!--
            --><li>
              <input type="button" value="fork"    @click="fork(result)">
            </li>
          </ul>
        </div>
      </div>
      <div class="card" v-if="query || results.length">
        <h2 class="name" style="color: #333">{{what_should_i_say}}</h2>
        <ul class="controls" v-if="done_searching && username">
          <li>
            <input type="button" :value="'create ‘' + query + '’?'" @click="new_word">
          </li>
        </ul>
      </div>
      <div class="card" id="welcome" v-if="! (dismissed || query.length)">
        <h2>Feedback</h2>
        <p>If you have any bugs to report or features to request, please visit this page: <a href="https://etherpad.net/p/toadua_devel">https://etherpad.net/p/toadua_devel</a>. Your feedback is appreciated.</p>
        <ul class="controls">
          <li><input type="button" value="dismiss forever" @click="dismiss"></li>
        </ul>
      </div>
      <div class="card" id="create" v-if="username && (done_searching || !query) && ! results.length">
        <div class="title">
          <input type="text" id="create_name" class="name" placeholder="Create new entry" v-model="new_head">
        </div>
        <textarea id="create_body" class="body" rows="1" placeholder="Type in the Toaq word above and the definition here" v-model="new_body"></textarea>
        <ul class="controls">
          <li><input type="submit" value="submit" class="submit" @click="create"></li><!--
          --><li v-if="new_head || new_body"><input type="button" value="clear" @click="new_head = new_body = ''"></li>
        </ul>
      </div>
      <div class="card" id="logout" v-if="username && ! query">
        <ul class="controls">
          <li>Logged in as <b :style="color_for(username)">{{username}}</b></li><!--
          --><li><input type="button" value="logout" class="submit" @click="logout"></li>
        </ul>
      </div>
      <div class="card" id="login" v-if="!(username || query)">
        <h2>Access</h2>
        <form>
          <div id="login_username"><input id="input_username" type="text" placeholder="username" v-model="login_name" autocomplete="username"></div>
          <div id="login_password"><input id="input_password" type="password" placeholder="password" v-model="login_pass" autocomplete="current-password"></div>
        </form>
        <ul class="controls">
          <li><input type="button" value="login"    @click="account('login')"></li><!--
          --><li><input type="button" value="register" @click="account('register')"></li>
        </ul>
      </div>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
